$bg-color-primary: #171717;
$bg-color-secondary: #222;
$border-color: #464646;

@import '../../../../Scss/utils';


.response-window, .response-window-header, .response-window-footer {
    border-radius: 20px 20px 0px 0px ;
}

.response-window-header, .response-window-body, .response-window-footer {
    padding: 10px;
}

.response-window {
    background-color: $bg-color-primary;
    box-shadow: 2px 2px 15px #000;
    font-family: monospace;
    user-select: none;
    color:#fff;
    
    height: 400px;
    width: 250px;

    margin-bottom: 20px;
    margin-top: 20px;


    &-header {
        @extend .flex-center-row;

        background-color: $bg-color-secondary;
        border-bottom: 2px solid $border-color;
        justify-content: space-evenly;
        cursor: pointer;
        padding: 10px;
        
        img {
            width: 40px;
            height: 40px;
        }

        p {
            font-weight: bold;
            font-size: 15px;
            color: #fff;
        }
    }
    
    &-footer {
        background-color: $bg-color-secondary;
        color: $border-color;
        text-align: center;
        font-weight: bold;
        
        * {margin: 0;}
    }

    &-body {
        @extend .flex-center-column;
        background-color: $bg-color-primary;
        height: 295px;
    }
}
