.PeterTV {
    justify-content: center;
    background-color:#000;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
    height: 125px;
    display: flex;
    width: 190px;
    cursor: grab;

    &__TVImage {
        position: absolute;
        width: 200px;
    }

    &__video {
        width: 150px;   
    }
}