/* .PeterTV__video {
    width: 150px;
    height: 150px;
    cursor: grab;
}

.PeterTV {
    position: absolute;
    animation: popUp 0.5s ease-in;
}

@keyframes popUp {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
} */

.PeterTV__TVImage {
    position: absolute;
    width: 200px;
 }

 .PeterTV {
    overflow: hidden;
    width: 190px;
    background-color:#000;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    position: absolute;
 }
 .PeterTV__video {
    width: 150px;   
 }