@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: monospace;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    user-select: none;
}


header {
    color: #000;
    background-color: #B4D4FF;
    font-weight: normal;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    border-radius: 10px 10px 0px 0px;
}
main {
    height: 100%;
    border: solid 3px #176B87;
    border-radius: 10px;
}
main .about {
    height: 90%;
    padding: 10px;
    overflow-y: scroll;
}


footer {
    background-color: #B4D4FF;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    border-radius:  0px 0px 10px 10px;
}

footer p {
    font-size: 15px;
}


li {
    padding: 10px;
    cursor: pointer;
    border: solid 2px #000;
    border-radius: 10px;
    margin-bottom: 10px;
}
li p {
    border-top: solid 2px #c3c3c3;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
}

li span {
    font-size: 20px;
    
    width: 100%;
}
footer img {
    width: 20px;
    height: 20px;
}

ul {
    list-style: none;
    padding: 0;
}