.SettingsBox {
  background-color: #fafafa;
  border:solid 3px #e6e6e6;
  font-family: monospace;
  border-radius: 15px;
  transition: 0.2s;
  position: fixed;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  z-index: 9999;
  color: #fff;
  bottom: 20px;
  right: 20px;
}

.SettingsBox:hover {
  background-color: #a6a6a6;
  border: solid 3px #303030;
}

#widget-text {
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  height: 20px;
  width: 20px;
}



#widget-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  position: absolute;
  display: none;
  bottom: 100%; 
  z-index: 1; 
  right: 0;
}

.menu-item {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  min-width:100px;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  color:#000;
}

.menu-item:last-child {
  border-bottom: none;
}

.SettingsBox__image {
  width: 25px;
}