.slider {
    background-color: #171717;
    justify-content: left;
    border-radius: 10px;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: flex;
    height: 20px;
    width: 40px;
}

.slider .slider__set {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-left: 2px;
    height: 15px;
    width: 15px;
}

.slider, .slider__set {
    transition: 0.3s;
}

.on {
    background-color: #ff9d1c;
}